mixin socials(title = 'Давайте дружить')
    +b.socials
        +e.title !{title}
        +e.list
            +e.A.link.--instagram(href='https://www.instagram.com')
            +e.A.link.--vk(href='https://www.vk.com')
            +e.A.link.--facebook(href='https://www.facebook.com')
            +e.A.link.--youtube(href='https://www.youtube.com')