mixin advantages-stelki()
    +b.SECTION.advantages-stelki
        +inner
            +e.title
                +title Есть решение!
            +e.blocks
                +e.block
                    +e.b-title Пяточный амортизатор
                    +e.b-subtitle Коррекция деформации пятки выполняется<br>  под воздействием качественного амортизатора
                    +e.UL.b-list
                        +e.LI.b-item Снижает утомляемость ног во время беременности
                        +e.LI.b-item Снижает утомляемость при длительной ходьбе 
                        +e.LI.b-item Устраняет боль в спине 
                        +e.LI.b-item Исправляет плоскостопие 
                        +e.LI.b-item Снимает варикоз и отеки
                    +e.line(aria-hidden='true')
                +e.block
                    +e.b-title Специальный каркас стельки
                    +e.b-subtitle Снижает нагрузку на стопу и компенсирует<br>  недостаточную амортизацию продольного свода
                    +e.UL.b-list
                        +e.LI.b-item Снижает степень искривления позвоночника 
                        +e.LI.b-item Исправляет высокий свод стопы
                        +e.LI.b-item Снимает варикоз и отеки 
                        +e.LI.b-item Исправляет вальгусную или варусную стопу 
                        +e.LI.b-item Устраняет проблемы молоткообразных пальцев
                        +e.LI.b-item Снижает нагрузку на коленные суставы
                        +e.LI.b-item Устраняет боль в спине
                    +e.line(aria-hidden='true')
                +e.block
                    +e.b-title Дышащие материалы
                    //- +e.b-subtitle Натуральная кожа, вспененный латекс не позволяют преть коже стопы, тем самым устраняя неприятные запахи и не позволяя развиваться различным видам грибков 
                    +e.b-subtitle Натуральная кожа, вспененный латекс, насыщенные противогрибковыми компонентами не позволяют преть коже стопы
                    +e.UL.b-list
                        +e.LI.b-item Отсутствие вероятности заражения грибком 
                        +e.LI.b-item Устраняет неприятные запахи
                        +e.LI.b-item Способствует лечению диабетической стопы
                        +e.LI.b-item Устраняет натоптыши и мозоли 
                    +e.line(aria-hidden='true')
                +e.block
                    +e.b-title Нижнее покрытие
                    +e.b-subtitle Это износостойкий текстиль, <br> который обладает высокой прочностью <br> и препятствует скольжению стельки
                    +e.UL.b-list
                        +e.LI.b-item Способствует лечению пяточной шпоры
                        +e.LI.b-item Устраняет проблемы молоткообразных пальцев
                    +e.line(aria-hidden='true')
