mixin main-footer()
    +b.FOOTER.main-footer
        +inner
            +e.inner
                +e.A.logo&attributes(attributes)
                    IMG(src="images/logo_light.svg")
                +e.contacts
                    +e.contacts-title Есть вопросы? Звони!
                    +e.phones
                        +b.footer-phone
                            +e.city Санкт-Петербург
                            +e.A.number(href="tel:+78124000005" class="footer-phone__number" data-target='#modal1' data-city='spb') 8 (812) 400-00-05
                        +b.footer-phone
                            +e.city Москва
                            +e.A.number(href="tel:+74952152525" class="footer-phone__number" data-target='#modal1' data-city='msk') 8 (495) 215-25-25
                +e.socials
                    +socials('Следите за нами')
                +e.legal
                    | Имеются противопоказания. <br>Необходимо проконсультироваться со специалистом. <br> «Sanatera» 2020 ©
