mixin main-footer()
    +b.FOOTER.main-footer
        +inner
            +e.row
                +e.footer-nav
                    +footer-nav
                +e.contacts
                    +e.subtitle Есть вопросы? Звони!
                    +e.tel 8 (812) 400 00 05
                    +e.socials
                        +socials
            +e.row
                +e.legalities
                    | Имеются противопоказания. <br>Необходимо проконсультироваться со специалистом. <br> &laquo;Санатера&raquo; 2019 ©
