mixin main-footer()
    +b.FOOTER.main-footer
        +inner
            +e.inner
                +e.A.logo&attributes(attributes)
                    IMG(src="images/logo_light.svg")
                +e.contacts
                    +e.contacts-title Есть вопросы? Звони!
                    +e.A.tel(href='tel:8 (812) 400 00 05') 8 (812) 400 00 05 
                +e.socials
                    +socials('Следите за нами')
                +e.legal
                    | 2019 © "Санатера"<br>
                    | ООО "НК Росинновации"<br>
                    | ИНН: 7810840233<br>
                    | ОГРН: 1117847388713
