mixin main-header()
    +b.HEADER.main-header
        +inner
            +e.inner
                +e.hamburger
                    +hamburger
                +e.A.logo&attributes(attributes)
                    IMG(src="images/logo.svg")
                +e.info
                    .icon
                        include ../../../app/images/point.svg
                    +e.address г. Санкт-Петербург, м.&nbsp;Маяковская, Невский&nbsp;проспект, 61 (вход со двора)
                    +e.shedule с 8:00 до 22:00, приём заявок круглосуточно
                +e.A.phone(href='#modal1' data-toggle="modal" data-target="#modal1" data-button='Заказать звонок') +7 (812) 421-74-97
                +e.A.phone.--mobile(href='tel:+7 (812) 421-74-97') +7 (812) 421-74-97
                +e.navigation
                    +main-nav