.main-header {
    width: 100%;
    font-family: $roboto;

    background-color: #fff;
}

.main-header__inner {
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px 0 25px;

    text-align: center;
}

.main-header__logo {
    display: block;
    width: 194px;
    height: 59px;
    margin: 0 auto 20px;

    img {
        @include image;
    }
}

.main-header__info {
    max-width: 320px;
    position: relative;
    padding-left: 32px;
    margin-bottom: 28px;
    text-align: left;

    color: $darktext;

    .icon {
        position: absolute;
        width: 20px;
        height: 30px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        cursor: pointer;
        
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.main-header__address {
    margin: 0 0 6px;

    font-size: 14px;
    line-height: 1.15;
}

.main-header__shedule {
    margin: 0;

    font-size: 11px;
    font-weight: 300;
}

.main-header__phone {
    display: inline-block;
    padding: 7px 20px;

    color: $softdarktext;
    font-size: 20px;
    font-weight: 500;

    border: 1px solid $themecolor;
    border-radius: 30px;
    background-color: #fff;

    transition: all 300ms ease;

    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background-color: $themecolor;
        text-decoration: none;
    }
}

@media #{$tablet} {
    .main-header__inner {
        max-width: none;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-header__logo {
        width: 139px;
        height: 42px;
        margin: 0;

        img {
            @include image;
        }
    }

    .main-header__info {
        max-width: 280px;
        padding-left: 32px;
        margin-bottom: 0;
    }

    .main-header__address {
        margin-bottom: 2px;

        font-size: 12px;
    }

    .main-header__phone {
        display: inline-block;
        padding: 4px 20px;

        font-size: 16px;
    }
}

@media #{$desktop} {
    .main-header__inner {
        max-width: 1120px;
        padding: 25px 0;
    }

    .main-header__logo {
        width: 194px;
        height: 59px;
    }

    .main-header__info {
        max-width: 330px;
        padding-left: 44px;
    }

    .main-header__address {
        font-size: 16px;
    }

    .main-header__shedule {
        font-size: 12px;
    }

    .main-header__phone {
        padding: 7px 20px;

        font-size: 20px;
    }
}
