mixin modal()
    #success.modal.fade.success-modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-title Спасибо за заявку!
                    p.modal-subtitle Наш администратор сейчас с вами свяжется
    #modal1.modal.main-modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form.modal-form(name='form1')
                        .modal-input-row
                            input.modal-input(type='text' id='modal_name' name='modal_name' placeholder='Ваше имя')
                        .modal-input-row
                            input.modal-input(type='text' id='modal_tel' name='modal_tel' required placeholder='Ваш номер телефона')
                        .modal-form__cities
                            label.modal-form__city Санкт-Петербург
                                input(type="radio" name="city" value="spb" checked="checked")
                                span.modal-form__city-mark
                            label.modal-form__city Москва
                                input(type="radio" name="city" value="msk")
                                span.modal-form__city-mark
                        button.modal-submit Отправить
                        .modal-form__check
                            input(type='checkbox' name='modal-checkbox' id='modal-checkbox' checked='' required='' class='modal-form__modal-checkbox')
                            label(for='modal-checkbox' class='modal-form__agreement') Подтверждаю, что я ознакомлен с политикой конфиденциальности и даю свое согласие на сбор и обработку персональных данных