mixin modal()
    #success.modal.fade.success-modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-title Спасибо за заявку!
                    p.modal-subtitle Наш администратор сейчас с вами свяжется
    #modal1.modal.main-modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form.modal-form(name='form1')
                        .modal-input-row
                            input.modal-input(type='text' id='modal_name' name='modal_name' placeholder='Ваше имя')
                        .modal-input-row
                            input.modal-input(type='text' id='modal_tel' name='modal_tel' required placeholder='Ваш номер телефона')
                        button.modal-submit
                        +e.modal-agreement
                            input(type='checkbox' name='modal_agreement' id='modal_agreement' checked='' required='')
                            label(for='modal_agreement') Подтверждаю, что я ознакомлен с политикой конфиденциальности и даю свое согласие на сбор и обработку персональных данных